{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    Про нас
{% endblock title %}

{% block container %}
<body>
    <main>
        <div id="lay_right">

			<h1>Про нас</h1>



        <div class="contentbody">

        <p>Ми починали як невеличкий стаціонарний магазин меблів, а в підсумку стали однією з найбільших компаній України, яка займається доставкою щастя в кожен будинок. Щоранку на куплених у нас ліжках прокидаються десятки тисяч людей, за обраними в нашому каталозі столами влаштовуються дружні посиденьки і святкові застілля, куплені у нас гарнітури, прикрашають будинки по всій країні. Ми докладаємо всіх зусиль, щоб зробити ваше життя комфортнішим, простіше і естетичніше, а значить, працюємо не дарма!</p>
        <p></p>
        <p><strong>Хто ми?</strong></p>
        <p></p>
        <p>Компанія &laquo;Меблі на замовлення&raquo; - це згуртована команда професіоналів, яка ось уже багато років робить все можливе, щоб забезпечити своїх клієнтів якісною, красивою і доступною меблюванням. Наш перший магазин був відкритий в 1995 році, коли довговічне і ефектне оздоблення стало користуватися величезним попитом. Працюючи із замовниками кожен день, з часом ми стали розуміти, що необхідність в торговій точці, яка б умістила меблі від різних виробників, різних типів, розмірів і дизайнів, як ніколи гостра. Як результат, у 2008 році почав функціонувати інтернет-магазин <a href="https://komservis.in.ua/">komservis.in.ua</a> - величезний каталог надійної обстановки за привабливою ціною.</p>

        <p>&laquo;Меблі на замовлення&raquo; <strong>працює прозоро</strong>: ми видаємо чеки на товар, платимо податки і виконуємо всі свої зобов'язання відповідно до Закону про захист прав споживача.</p>
        <p></p>
        <p><strong>Наші клієнти</strong></p>
        <p></p>
        <p>За більш ніж два десятиліття успішної діяльності нашими клієнтами стали <strong> тисячі сімей по всій Україні</strong>. Не дивно, що більшість цих людей перейшли в категорію постійних замовників, адже ми пропонуємо не тільки недорогу і довговічну меблювання, але і гнучку систему знижок для тих, хто робить другу і наступні покупки на сайті. У нас ви можете купити будь-який предмет або комплект оздоблення не тільки за готівковим або безготівковим розрахунком, а й оформити кредит, не виходячи з дому.</p>
        <p></p>
        <p>Плідно співпрацює &laquo;Меблі на замовлення&raquo; і з <strong>юридичними особами</strong>. Так, ми багато років забезпечуємо функціональної і красивою обстановкою IT-компанії, ресторани, офіси відомих торгових марок і державних структур, наприклад, &laquo;Антимонопольний комітет України&raquo; та &laquo;Новотроїцьке Рудоуправління&raquo;. Крім того, завдяки ціновій політиці нашого інтернет-магазину у нас регулярно роблять оптові замовлення інші меблеві магазини.</p>
        <p></p>
        <p><strong>Наша команда</strong></p>
        <p></p>
        <p><strong>Група</strong> закоханих в свою роботу професіоналів з кожним днем ​​працюють для того, щоб допомогти кожному клієнту перетворити свої квадратні метри в затишне житло з душею. Талановиті дизайнери, досвідчені логісти, кваліфіковані менеджери і маркетологи, вмілі збирачі і невтомні оператори прикладають всіх зусиль, щоб ви залишилися задоволені покупкою.</p>
        <p></p>
        <p><strong>Продукція</strong></p>
        <p></p>
        <p>Компанія &laquo;Меблі на замовлення&raquo; співпрацює з найбільш відповідальними і надійними виробниками. Продукцію більшості цих фабрик ми поставляємо безпосередньо, а це значить, що наші замовники уникають всіляких комісій та націнок. &laquo;Меблі безпосередньо від виробника до вас додому!&raquo; - такий наш девіз і головне правило. У нас ви можете придбати вироби <strong>понад 120 українських, польських, білоруських та італійських брендів.</strong></p>
        <p></p>
        <p>У каталозі інтернет-магазині &laquo;Меблі на замовлення&raquo; зібрано понад <strong> 500 позицій</strong>, щоб задовольнити запити покупців з різними смаками і потребами. Ми забезпечуємо своїх клієнтів бюджетної модульної і стандартної обстановкою, наборами та окремими предметами меблів різних стилів, розмірів, конфігурацій і кольорів. Залежно від умов конкретного виробника, гарантія на куплену у нас меблі можуть становити від 12 місяців до 10 років.</p>
        <p></p>
        <p><strong>Як ми працюємо?</strong></p>
        <p></p>
        <p>Ми створили великийонлайн-каталог обстановки, щоб кожен з вас міг, не залишаючи дому, купувати красиві, якісні і недорогі вироби. Щоб отримати відповіді на питання або детальну консультацію, що зацікавило вас товару, ви можете зв'язатися з оператором або залишити заявку на дзвінок. Також ми надаємо покупцям можливість виклику дизайнера на будинок.</p>
        <p></p>
        <p>Інтернет-магазин <a href="https://komservis.in.ua/">komservis.in.ua</a> пропонує доставку по всій території України. А щоб меблі з'являлася в будинках наших клієнтів ще більш оперативно, ми відкрили пункти доставки в Києві і області, Житомирі та області, Вінниці та області, Львові та області, Рівного та області, Луцьку та області. Крім того, наші майстри здійснюють збирання меблів на місці.</p>
        <p>Приєднуйтеся до наших задоволених клієнтів!</p>
    </main>
</body>
{% endblock container %}

<!--<!DOCTYPE html>-->
<!--<html lang="uk">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Exo+2:wght@200;300&display=swap" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="css/style.css">-->
<!--    <link  rel="stylesheet"-->
<!--        href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />-->
<!--        <link href="-->
<!--        https://cdn.jsdelivr.net/npm/swiper@9.1.1/modules/scrollbar/scrollbar.min.css-->
<!--        " rel="stylesheet">-->
<!--        -->
<!--    <title>Меблі для кожного за доступними цінами</title>-->
<!--</head>-->

<!--<body>-->

<!--    <nav class="navbar">-->
<!--        <div class="container">-->
<!--            <div class="navbar-brand">-->
<!--                <a href="index.html"><img class="logo" src="images/logo.png" title=""></a>-->
<!--            </div>-->
<!--       -->
<!--             		-->
<!--            <div class="navbar-wrap">-->
<!--                -->
<!--                <ul class="navbar-menu">-->
<!--                    <li><a href="index.html">На головну</a></li>-->
<!--                    <li><a href="actions.html">Акції</a></li>-->
<!--                    <li><a href="orders.html">Замовлення</a>-->
<!--                    <li><a href="payments.html">Оплата і доставка</a></li>-->
<!--                    <li><a href="guarantee.html" >Гарантія</a></li>-->
<!--                    <li><a href="contacts.html">Контакти</a></li>-->
<!--                    <li><a href="about.html" class="active">Про нас</a></li>-->
<!--                    &lt;!&ndash; <li><a href="feedback.html">Зворотній зв'язок</a></li>  &ndash;&gt;  -->
<!--                </ul>	 	-->
<!--    -->
<!--               -->
<!--            </div>-->
<!--        -->
<!--        </div>-->
<!--      -->
<!--    </nav>-->



<!--</body>-->

<!--<footer>-->
<!--    <nav class="navbar-footer">-->

<!--        <div class="container-footer">-->
<!--            <div class="copyright">©2023 Design Studio Marchenko</div>-->
<!--            <div class="navbar-wrap">-->

<!--                <ul class="navbar-menu">-->
<!--                    <li><a href="actions.html">Акції</a></li>-->
<!--                    <li><a href="about.html" class="active">Про нас</a></li>-->
<!--                    <li><a href="orders.html">Замовлення</a>-->
<!--                    <li><a href="payments.html">Оплата і доставка</a></li>-->
<!--                    <li><a href="guarantee.html">Гарантія</a></li>-->
<!--                    <li><a href="contacts.html">Контакти</a></li>-->
<!--                    -->
<!--                </ul>-->


<!--            </div>-->

<!--        </div>-->

<!--    </nav>-->



<!--</footer>-->

<!--</html>-->