{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    Акції
{% endblock title %}

{% block container %}
    <main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <h1>Акції</h1>
        <div class="action-container">
            <center> <img class="portfolio" src="images/petio-stenka.jpg" title=""></a> </center>
            

            <center>
                <p>
                <h3>Вітальня Петіо МДФ</h3><br>
                Безкоштовна доставка Безкоштовна збірка в Києві<br>
                <br>
                Код товару:0162
                <br>
                <h2>23 870 грн</h2>

                </p>
            </center>



            <center> <img class="portfolio" src="images/karmen.jpg" title=""></a> </center>
            <center>
                <p>
                <h3>Дзеркало-110 (6) Кармен</h3> <br>
                <p>acАкція Безкоштовна доставка Безкоштовна збірка в Києві</p>

                <br>
                <p>Код товару:0769</p>
                <br>
                <h2>779 грн</h2>
                <br>

            </center>

            <center>Шафа настінна 600 ШКН-1037 (лівий) АрліЗнижка - 3%

                1 778 грн

                Код товару:13569

                </p>
            </center>

            <p>Шафа настінна 600 ШКН-1037 (правий) АрліЗнижка - 3%
                Шафа настінна 600 ШКН-1037 (правий) Арлі
                1 778 грн - 1 831 грн


                0,720,40,32Код товару:
                13570

            </p>


            <p>Шафа-стіл 600 ШМ-227 (мийка) АрліЗнижка - 3%
                Шафа-стіл 600 ШМ-227 (мийка) Арлі
                1 409 грн1 451 грн


                0,820,60,47Код товару:
                13571

            </p>

        </div>




        <h3>Пн-Пт: 9:00 - 19:00

            Сб-Нд: 9:00 - 18:00
        </h3>

    </main>
    <script src="js/lightbox..js"></script>
    <script src="js/lightbox-plus-jquery.min.js"></script>
    <script src="/app/js/main.js"></script>
</body>

{% endblock container %}