{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    Контакти
{% endblock title %}

{% block container %}

<body>
    <main>
        <h1>Контактні дані</h1>
        <br><br><br>


        <div class="contacts">
            <div class="col1">
                <h3>Телефони:</h3>
                <p>044-333-99-77 Офіс</p>
                <p>098-444-33-55 Олена</p>
                <p>093-555-77-66 Ольга</p>
                <p>066-888-11-22 Світлана</p>
            </div>


            <div class="col2">
                <h3>Skype</h3>

                komservis.in.ua

                <h3>E-mail</h3>

                kom.servis@ukr.net
            </div>

        </div>


        <br><br>

        
    </main>

    <h1>Ми в мережі</h1>
    <ul class="social">
        <li class="fb"><a target="_blank" rel="nofollow" title="FACEBOOK" href="#"><img
                    src="images/facebook-logo.png"></a></li>
        <li class="tg"><a target="_blank" rel="nofollow" title="TELEGRAM" href="#"><img
                    src="images/telegram-logo.png"></a></li>
        <li class="yt"><a target="_blank" rel="nofollow" title="YOUTUBE" href="#"><img
                    src="images/youtube-logo.png"></a></li>
        <li class="in"><a target="_blank" rel="nofollow" title="INSTAGRAM" href="#"><img
                    src="images/instagram-logo.png"></a></li>
    </ul>

</body>

{% endblock container %}