{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    Гарантія
{% endblock title %}

{% block container %}
    <main>
        <h1>Гарантія</h1>

        <p>Гарантія на всі меблі - 12 місяців з моменту покупки. На деякі товари на сайті (матраци, подушки, дивани і
            т.д.) гарантійний термін може бути довше, про що зазначено в картці конкретного товару.</p>

        Гарантія поширюється на недоліки (дефекти) вироби, які виникли з вини виробника (фабричний брак).

        <p>
        <h3>Умови гарантії</h3>
        </p>

        Термін гарантії вироби - 12 місяців, якщо інше не обумовлено гарантійними документами. Гарантійний термін
        починається з моменту доставки і отримання покупцем вироби в місце призначення відповідно до замовлення.
        Дефекти виробів, виявлені в момент прийому замовлення і виникли з вини виробника, будуть безкоштовно усунені
        виробником.
        Претензії по зовнішньому вигляду виробу, некомплект, а також невідповідності замовлення приймаються тільки
        безпосередньо при отриманні замовлення. Після доставки та збирання меблів такі претензії не приймаються, а всі
        додаткові роботи здійснюються за рахунок Покупця.
        Гарантійне обслуговування не здійснюється у разі:

        <p>Закінчення гарантійного терміну;
            невиконання умов експлуатації;
            наявності на виробі механічних пошкоджень;
            порушень інструкції по експлуатації меблів;
            перевищення допустимих навантажень на механізм трансформації;
            нанесення шкоди виробу або його втрати внаслідок форс-мажорних обставин (стихія, пожежа, повінь, нещасні
            випадки і т.д.);
            нанесення шкоди виробу в результаті умисних або помилкових дій покупця, або третіх осіб;
            нанесення шкоди виробу, викликаного попаданням всередину або на поверхню виробу сторонніх предметів, рідин,
            тварин, комах і т.д .;
            наявності слідів стороннього втручання у виріб або його ремонту самостійно або організаціями, підприємствами
            або приватними особами, не уповноваженими на це продавцем;
            нанесення виробу шкоди в результаті внесення змін до його конструкції;
            використання вироби в виробничих цілях;
            при відсутності чітко заповнених документів продавця про відвантаження вироби покупцеві або наявності в цих
            документах змін і доповнень, зроблених не продавці.</p>


        <p>
        <h3>Гарантія не поширюється:</h3>
        </p>

        <p>на дефекти, що виникли в результаті неправильного зберігання або експлуатації виробу;
            на пошкодження в результаті самостійної доставки товару покупцем;
            на брак при складанні або монтажі в результаті самостійного проведення покупцем або уповноваженими продавцем
            третіми особами зазначених робіт;
            на шлюб в результаті порушення правил експлуатації телефону або його нецільового використання;
            при забрудненні товару;
            на розриви тканини і поломки від навантажень, не передбачених стандартом і нормативно-правовими актами
            України.</p>
        <h3>Дефектами меблів не є:</h3>

        <p>Незначні відмінності у відтінках і фактурі оббивних тканин і шкір.
            Незначні відмінності у відтінках кольору і відміну малюнка покриття (декору).
            Легкі складки на облицювальній матеріалі м'яких елементів, що виникають після зняття навантажень і зникаючі
            після легкого розгладження.
            Дрібні волосяні тріщини ( «ефект розтріскування»), потертості меблевого покриття з натуральної шкіри, що
            виникли в процесі експлуатації меблів.
            Використовувати вироби можна виключно з метою, в спосіб і в порядку, які не суперечать чинному
            законодавству. Продавець не несе відповідальності за мету, спосіб і порядок використання вироби і не
            відповідає за можливу шкоду, прямо або побічно нанесену виробом.</p>



        <h3>Обмін або повернення товару</h3>

        <p>Покупець має право обміняти або повернути товар належної якості у продавця в терміни, встановлені законом
            «Про захист прав споживачів». Ця процедура здійснюється самостійно покупцем за свій рахунок. У разі обміну
            за гарантійними зобов'язаннями повернення здійснюється за рахунок інтернет-магазину. Щоб скористатися правом
            на повернення товару, покупець повинен принести магазину докази того, що виріб не було в експлуатації,
            збережено його товарний вид, відсутні зовнішні ушкодження (подряпини, потертості, відколи).
        </p>

        <h3>Сертифікати якості</h3>

        Всі меблі сертифікованi.



        <h3>Гарантія на всі товари магазину - 12 місяців.
        </h3>




        
    </main>


    <script src="https://cdn.jsdelivr.net/npm/swiper@9.1.1/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
    <script src="/app/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>



    </div>
</body>

{% endblock container %}