{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    Замовлення
{% endblock title %}

{% block container %}

    <main>
        <H1>Замовлення</H1>
        <p>Замовити меблі по телефону можна швидко і просто. Для Вашої зручності виставлені майже всі оператори зв'язку.
        </p>

        <h3>З нами можна зв'язатися з 9:00 до 21:00. </h3>
        <p>Завдяки досвідченим менеджерам нашого меблевого магазину процедура оформлення замовлення по телефону займе
            мінімум часу.</p>

        <h3>Замовлення меблів на сайті онлайн через КОШИК. </h3>
        <p>Замовляти меблі через корзину дуже зручно і просто, це спосіб, який дає можливість відправити замовлення
            прямо на сайті в будь-який час дня і ночі. Для цього додайте потрібний товар в корзину, натиснувши на значок
            «КОШИК» поруч з ціною товару, і потрібний Вам товар відразу потрапить до кошика замовлення. Як тольки Ви
            будете готові оформити своє замовлення, натискайте соотвествующий значок «оформити замовлення».</p>

        <h3>Обробка Вашого замовлення.</h3>
        <p> Отримавши Ваше замовлення по телефону або через корзину, наш співробітник передає його в роботу
            «безпосередньо до виробника». </p>

        <p>Обробка замовлення відбувається в робочий час з 9:00 до 21:00 Тому, якщо замовлення було зроблено через
            корзину в нічний час, то він буде оброблений протягом наступного дня. Ми передзвонимо Вам за вказаною в
            замовленні телефону для уточнення всіх деталей.</p>

        <h3>Доставка по Києву та передмістю.</h3>
        <p>Доставка меблів - дуже відповідальний етап роботи. Меблі доставляється за вказаною адресою, тому перед
            доставкою наші співробітники зв'язуються з Вами і коригують доставку в обраний день і годину.</p>
    </main>


</body>
{% endblock container %}