{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    Оплата і доставка
{% endblock title %}

{% block container %}
    <main>
        <h1>Оплата і доставка</h1>

 <br><br>

        <center><h3>Вартість доставки меблів по Києву</h3>     
 
        <p>По Києву доставка <price-service>450 грн</price-service> в залежності від габаритів меблів (до під'їзду)
        <p>По Києву доставка м'яких меблів від <price-service>550 грн</price-service> (до під'їзду)
        <p>Якщо біля товару зазначено <price-service>БЕЗКОШТОВНА ДОСТАВКА</price-service> вона здійснюється при замовленні від <price-service>10000 грн</price-service></p>

        <p>Якщо біля товару зазначено <price-service>БЕЗКОШТОВНА ЗБІРКА </price-service> вона здійснюється при замовленні від <price-service>10000 грн</p>

        <h3><p>Вартість доставки меблів по Київській області:</p></h3>

        <p>Бориспіль - <price-service>550 грн</p>
        <p>Боярка - <price-service>500 грн</p>
        <p>Фастів - <price-service>800 грн</p>
        <p>Бровари - <price-service>500 грн</p>
        <p>Буча - <price-service>500 грн</p>
        <p>Бородянка - <price-service>600 грн</p>
        <p>Васильків - <price-service>550 грн</p>
        <p>Вишневе - <price-service>500 грн
        <p>Ірпінь - <price-service>500 грн
        <p>Крюківщина - <price-service>500 грн
        <p>Обухів - <price-service>700 грн
        <p>Українка - <price-service>600 грн
        <p>Біла Церква - <price-service>500 грн
        <p>Для інших міст Київської області доставка становить <price-service>15 грн / км від КПП в дві сторони</price-service></p>
        <p>Доставка по Житомирській трасі - <price-service>500 грн (Київ-Житомир)</p>
        </center>

        
        
        <div class="delivery">
            <div class="wrapper">
                <h3><p>Вартість занесення / підйому в квартиру</p></h3>

                <p>При наявності ліфта вартість підйому замовлення становить в залежності від ваги:</p>
                до 40 кг - 120 грн
                40-150 кг - 200 грн
                150-300 кг - 400 грн
                300-500 кг - 550 грн
                При відсутності ліфта або якщо підйом ліфтом неможливий, вартість підйому замовлення становить:

                до 150 кг - 100 грн / поверх
                150-300 кг - 150 грн / поверх
                300-500 кг - 250 грн / поверх
                Вартість занесення меблів в приватний будинок:

                до 150 кг - 150 грн
                150-300 кг - 200 грн
                300-500 кг - 250 грн
                

                <h3>Умови доставки по Україні</h3>

                Доставка по Україні здійснюється кур'єрськими службами доставки, такими як Нова пошта або Делівері. Щоб зробити замовлення, Вам необхідно оформити замовлення через корзину або просто зателефонувати нам, ми оформимо замовлення вручну. Для оформлення замовлення нам знадобляться Ваші дані: ПІБ, контактний номер телефону, місто доставки.

                

                <h3>При відправці Новою поштою Ви можете:</h3>

                1) вибрати будь-який зручний для Вас відділення Нової пошти
        <br>
                2) замовити послугу «Склад-Двері» та кур'єр Нової пошти доставить Вам меблі додому
        <br>
                3) оплатити меблі за фактом отримання післяплатою або через Приват Банк

                <h3>Нова пошта</h3> - це компанія, яка доставить меблі в Ваше місто цілою і неушкодженою. З цієї кур'єрською службою ми працюємо з 2009 року і маємо спеціальний тариф доставки, так що прорахувати вартість доставки Вам буде дуже просто: (30 грн оформлення документів +200-300 грн упаковка товару (кожні 150кг +300 грн за упаковку) +8 грн за кілограм ваги ). У Донецькій і Луганській області націнка за доставку + 10% до вартості доставки (по тарифу 8 за 1 кг). Додатково оплачується адресна доставка до 150 кг + 200грн, до 300 кг + 400 грн

                Також маємо доставку компанією Делівері

                

                <h3>При відправці кур'єрською службою Делівері:</h3>

                1) тарифи доставки уточнюйте у менеджера;
        <br>
                2) так як Делівері не провадить оплату післяплатою, оплата проводиться через Приват Банк або на розрахунковий рахунок.

                

                <h3>Прийом товару:</h3>

                1) При отриманні меблів потрібно перевірити скла, дзеркала, фасади на предмет дефектів і цілісності
        <br>
                2) Якщо при складанні меблів був виявлений дефект, не варто монтувати цей елемент, інакше гарантія на нього не поширюється
        <br>
                3) Побачивши брак, повідомте про це по телефону нашому рекламатору 098-555-77-66
        <br>
                Всі претензії по придбаних товарах відправляйте на e-mail: 

                У разі відмови від товару з причин клієнта, передоплата не повертається.

            <h3>Гарантія</h3>

                Гарантія на всі товари магазину - <price-service>12 місяців.</price-service>
            </div>
        </div>

        
    </main>
</body>

{% endblock container %}
