{% extends "../base-page.html" %}
{% load static %}

{% block title %}
    Registration
{% endblock title %}

{% block container %}

{% block body %}
<body>

    <form method="post">
      {% csrf_token %}
      <div class=login-form-wrapper>
        <div class="username">
          <input type="text" id="username" name="username" placeholder="username" required>
        </div>
        <div class="email">
          <input type="email" name="email" placeholder="E-mail" required>
        </div>
        <div class="password">
          <input type="password" name="pass" placeholder="Password" required>
        </div>
        <div class="button">
          <button type="submit">login</button>
        </div>
      </div>
    </form>

</body>
{% endblock %}

{% endblock container %}
